<div class="col-sn-6 col-md-6 col-sm-offset-3
"> 
<form action="/addbook" method="post">
 <div class="form-group">
  <label for="usr"> book_Name:</label>
  <input type="text" name="book_name" class="form-control" id="usr">
</div>
 <div class="form-group">
  <label for="usr"> Coverimage:</label>
  <input type="text" name="cover_image" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">author</label>
  <input type="text" name="author_name" class="form-control" id="pwd">
</div> 
<div class="form-group">
  <label for="pwd">ISBN:</label>
  <input type="text" name="isbn" class="form-control" id="pwd">
</div> 
<div class="form-group">
  <label for="pwd">Geners</label>
  <input type="text" name="genres" class="form-control" id="pwd">
</div> 
<div class="publisher">
  <label for="pwd">Publisher</label>
  <input type="text" name="publisher" class="form-control" id="pwd">
</div> 

<button type="submit" class="btn btn-default btn-primary">Add-BOOK</button>
</form>

</div>